* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  background-color: #ccc;
  padding: 10px;
  height: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: flex-start;
}
.item {
  background-color: #f1425d;
  padding: 40px;
  margin: 30px;
  color: #fff;
  font-size: 40px;
  flex-grow: 1;
}
.i2 {
  height: 400px;
  flex-basis: 300px;
  flex-shrink: 0;
}
.i3 {
  order: -2;
  flex-grow: 1;
}
.i4 {
  align-self: flex-start;
  order: -1;
}
