main {
  margin-top: 32px;
}
.background {
  background: url("plans-background.jpg");
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}
.plans a {
  text-decoration: none;
  display: block;
}
.plans__title {
  color: black;
}
.plans__sub-title {
  color: #807e7e;
}
.plans a p {
  color: #14a045;
  background: white;
  border: 2px solid #14972a;
  padding: 15px;
}
.plans {
  background: #d5ffdc;
  border: 2px solid #0e4f1f;
  border-left: none;
  margin: 32px 0;
  padding: 20px;
  width: 75%;
  position: relative;
  top: 20px;
}
.plans_badge {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 20px;
  font-size: 12px;
  color: white;
  background: #ff5454;
  padding: 8px;
}
.plans:hover,
.plans:active {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-color: #3a3636;
}
.plans__diff a h1 {
  color: white;
}
.clearfix {
  clear: both;
}
#plus {
  background: rgba(213, 255, 220, 0.94);
}
#free {
  background: rgba(234, 252, 237, 0.4);
  float: right;
  border-right: none;
  border-left: 2px solid #0e4f1f;
  text-align: right;
}
#free:hover,
#free:active {
  border-left-color: #3a3636;
}

#premium {
  background: rgba(14, 79, 31, 0.94);
}
#premium .plans__title {
  color: white;
}
#premium .plans__sub-title {
  color: #bbb;
}
