body {
  font-family: sans-serif;
  background: aqua;
}

section {
  background: #ff1b68;
}

/* //////////////////////////////////////////////////////////////////////////// */
/* INHERITANCE */
div {
  color: red;
}

p {
  color: green;
}

/* //////////////////////////////////////////////////////////////////////////// */
/* SELECTORS: ID,CLASS,ELEMENT */

/* Element */
h1 {
  color: white;
  /* font-family: "Courier New", Courier, monospace; */
  font-family: "Montserrat", sans-serif;
}

/* ID */
#product-1 {
  background: red;
}

/* Class */
.class-h1 {
  color: yellow;
  font-family: "Courier New", Courier, monospace;
}

/* //////////////////////////////////////////////////////////////////////////// */
/* COMBINATORS */

/* Descendant */
#product-1 h1 {
  background: wheat;
  color: blue;
}

/* General Sibling */
h2 ~ p {
  color: violet;
}

/* Adjacent Sibling */
h2 + p {
  color: blue;
}

/* Child */
div > h4 {
  color: teal;
}
