.container {
  margin: 20px;
  display: grid;
  grid-template-columns: 250px 2fr 50% 1fr;
  grid-template-rows: 5rem 2.4rem;
}

.el1 {
  background: rgba(255, 154, 72, 0.5);
}

.el2 {
  background: rgba(255, 0, 0, 0.5);
}

.el3 {
  background: rgba(0, 128, 0, 0.5);
}

.el4 {
  background: rgba(0, 4, 255, 0.5);
}
